.top {
  height: 2rem;
}
.top .back {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.top .back a {
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  color: #000;
}
.top .tit {
  padding-top: 0.5rem;
  text-align: center;
  top: 0.5rem;
}
#tab {
  width: 100%;
  height: 3rem;
  border: 1px solid #eee;
}
#tab #tab-header {
  padding: 0 1px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
#tab #tab-header ul {
  width: 100%;
  height: 3rem;
  position: absolute;
  left: -1px;
}
#tab #tab-header ul li {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1px;
}
#tab-content .dom {
  display: none;
}
#tab-content .dom .sche {
  position: relative;
  padding: 0 0.5rem;
}
#tab-content .dom .sche #Tit,
#tab-content .dom .sche #address,
#tab-content .dom .sche #beizhu {
  padding: 0.3rem 0;
  width: 100%;
}
#tab-content .dom .sche #address {
  margin-bottom: 0.5rem;
}
