.topMenu {
  height: 2rem;
  background-color: #3d8cf8;
  position: relative;
  text-align: center;
  color: #fff;
}
.topMenu .goBack {
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  width: 60px;
  line-height: 2rem;
}
.topMenu .goBack span {
  display: block;
  height: 40px;
  width: 22px;
  font-size: 1rem;
  color: #fff;
}
.topMenu .navInfo {
  width: 100px;
  display: inline-block;
  position: relative;
  z-index: 2;
  height: 2rem;
  line-height: 2rem;
}
.tab {
  display: none;
  border-bottom: 10px solid #eee;
  margin-bottom: 10px;
}
.tab ul {
  font-size: 0;
}
.tab ul li {
  display: inline-block;
  font-size: 18px;
  width: 25%;
  text-align: center;
  height: 3rem;
  color: #202020;
  font-weight: 500;
}
.tab ul li:before {
  display: block;
  height: 1.4rem;
  font-weight: normal;
  line-height: 1.4rem;
}
.pannal .row {
  height: 2rem;
  line-height: 2rem;
  padding: 0 10px;
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.pannal .row input {
  font-size: 14px;
}
.pannal-01 {
  font-size: 0.7rem;
}
.pannal-01 .event {
  margin-top: 1px;
  width: 100%;
  height: 1.9rem;
  line-height: 1.9rem;
  border: none;
}
.pannal-01 .row {
  font-size: 0;
  position: relative;
}
.pannal-01 .row span {
  font-size: 14px;
  height: 100%;
  color: #6E6E6E;
  text-align: right;
  padding-right: 30px;
}
.pannal-01 .row span i {
  position: relative;
}
.pannal-01 .row span i:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/down.png) center center no-repeat;
  background-size: 30px;
  right: -30px;
  top: -1px;
}
.pannal-01 .row span input {
  height: 80%;
  border: none;
  background-color: #fff;
  -webkit-appearance: none;
  height: 100%;
  width: 100%;
  min-width: 100px;
  background: transparent;
}
.pannal-01 .row span.startTime,
.pannal-01 .row span.overTime {
  position: absolute;
  right: 0;
  height: 0;
  display: inline-block;
  height: 36px;
  width: 150px;
  padding-left: 0;
}
.pannal-01 .row .time {
  padding-left: 30px;
}
.pannal-01 .row .time input {
  position: absolute;
  color: transparent;
  opacity: 0;
  right: 0;
  height: 40px;
  z-index: 9;
}
.pannal-01 .row .isAllDay,
.pannal-01 .row .isAlert,
.pannal-01 .row .isRepeat {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #EEEEEE;
}
.pannal-01 .row .isAllDay:after,
.pannal-01 .row .isAlert:after,
.pannal-01 .row .isRepeat:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  text-align: center;
  line-height: 18px;
  color: #000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
}
.pannal-01 .row .isAllDay.on,
.pannal-01 .row .isAlert.on,
.pannal-01 .row .isRepeat.on {
  right: 1px;
  left: auto;
  border-color: transparent;
  background-color: #44DB54;
}
.pannal-01 .row .isAllDay.on:after,
.pannal-01 .row .isAlert.on:after,
.pannal-01 .row .isRepeat.on:after {
  left: auto;
  right: 1px;
}
.pannal-01 .view2 {
  display: none;
}
.pannal-01 .row-con {
  height: 180px;
  display: none;
  line-height: 30px;
  padding: 20px 0 0 20px;
}
.pannal-01 .row-con p {
  font-size: 14px;
  width: 50%;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.pannal-01 .row-con p input {
  margin-right: 10px;
}
.submitEvent {
  margin-top: 20px;
  padding: 10px;
}
.submitEvent p {
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 90%;
  margin: 0 auto;
  background-color: #3d8cf8;
  color: #fff;
  border-radius: 5px;
}
.hide {
  display: none;
}
