body {
  overflow-x: hidden;
}
.top {
  background-color: #3d8cf8;
  height: 2rem;
  position: relative;
}
.top .back {
  padding: 10px;
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
}
.top .back span {
  display: block;
  height: 40px;
  width: 22px;
  font-size: 1rem;
}
.mid .schedule {
  position: relative;
  padding: 10px;
  background-color: #3d8cf8;
  color: #fff;
}
.mid .schedule .scheduleName {
  width: 100%;
  padding: 0 20px 20px;
}
.mid .schedule .scheduleName span {
  text-align: center;
  font-size: 1rem;
  display: block;
}
.mid .schedule .scheduleTime {
  width: 100%;
  text-align: center;
}
.mid .remind {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  height: 2.0rem;
  color: #666;
  overflow: hidden;
}
.mid .remind.info {
  border-bottom: 1px solid #eee;
}
.mid .remind .name {
  float: left;
  padding-left: 15px;
  width: 60px;
}
.mid .remind .noteInfoL {
  display: none;
}
.mid .remind .noteInfo,
.mid .remind .noteAddress,
.mid .remind .retime {
  float: right;
  padding-right: 15px;
  max-width: 60%;
  overflow: hidden;
}
.mid .noteInfo {
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 10px 10px #eee;
}
.mid .addressinfo {
  margin-bottom: 20px;
  box-shadow: 0 10px 10px #eee;
}
.bottom {
  position: fixed;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 2.8rem;
  text-align: center;
  bottom: 0;
  right: 0;
}
.bottom p {
  display: inline-block;
  margin-top: 5px;
  width: 50px;
  position: relative;
  vertical-align: bottom;
}
.bottom p img {
  display: block;
  margin: 0 auto;
  width: 1.4rem;
}
.bottom p a,
.bottom p span {
  font-size: 12px;
  color: #333;
}
