body {
  background-color: #3d8cf8;
}
.title {
  margin-top: 50px;
  line-height: 3rem;
}
.title h2 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.data p {
  height: 3rem;
  text-align: center;
}
.data p input {
  height: 36px;
  line-height: 36px;
  width: 70%;
  -webkit-appearance: none;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0 20px;
}
.gopage p {
  text-align: center;
  margin-right: 15%;
  float: right;
  color: #fff;
  background-color: rgba(234, 253, 61, 0.4);
  border-radius: 6px;
  width: 90px;
  height: 36px;
  line-height: 36px;
}
